<!-- This Html list the renter of an appartement  which include 'renter_Id', 'first_name', 'last_name', 'email', 'phone_number', 'appartement_Id' 
Each renter shown comport a <button></button> to delete the renter, a <button></button> to update the renter.
There is also a form to create a new renter for an appartement, , the form is displayed in a frame using MatCardModule
The form comport a <button></button> to create the ticket
The form comport required fields : 'first_name', 'last_name', 'email' -->

<h1>Renter list for the appartement ID : {{id}}</h1>

<!-- create a new renter -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Create a new renter for Appartement ID : {{id}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="postForm" (ngSubmit)="addRenter()" > 
                    
                        <mat-form-field>
                            <input matInput ="firstName" formControlName="firstName"  placeholder="First name">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput ="lastName" formControlName="lastName"  placeholder="Last name">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput ="email" formControlName="email"  placeholder="Email">
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <input matInput ="appart_Id" formControlName="appart_Id"  placeholder="Appartement ID: {{id}}">
                        </mat-form-field> -->
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">Create</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

<!-- list all renters -->
<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let renter of renterList">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{renter.firstName}} {{renter.lastName}}</mat-card-title>
                    <mat-card-subtitle>Renter ID : {{renter.renter_Id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Email : {{renter.email}}</p>
                    <p>Appartement ID : {{renter.appart_Id}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="deleteRenter(renter.renter_Id)">Delete</button>
                    <button mat-raised-button color="primary" (click)="updateRenter(renter)">Update</button>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>