

<h1>Estimate list for the ticket ID : {{id}}</h1>

<!-- create a new estimate -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Create a new estimate for Ticket ID : {{id}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="postForm" (ngSubmit)="addEstimate()" > 
                    
                        <mat-form-field>
                            <input matInput ="title" formControlName="title"  placeholder="Title">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput ="description" formControlName="description"  placeholder="Description">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput ="price" type="number" formControlName="price"  placeholder="Price">
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <input matInput ="ticket_Id" formControlName="ticket_Id"  placeholder="Ticket ID">
                        </mat-form-field> -->

                        <mat-card-actions>
                            <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid" >Create</button>
                            <!-- >Create</button> -->
                        </mat-card-actions>
                    </form>
                </mat-card-content>
                
            </mat-card>
        </div>
    </div>

<!-- list all estimates -->
<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let estimate of estimateList">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{estimate.title}}</mat-card-title>
                    <mat-card-subtitle>{{estimate.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Price : {{estimate.price}}</p>
                    <p>Ticket ID : {{estimate.ticket_Id}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="deleteEstimate(estimate.estimate_Id)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
